@{
    ViewData["Title"] = "Home";
}

@model Assign6.Project1.ABBC.Models.TaskResponse

<h1>Welcome to Covey's Highly Effective To Do List</h1>
<br /><br />
<div class="container">
    <div class="row">
        <div class="col-2"><!--p>Tell me about being effective</p>--><</div>
        <div class="col-8">
            <img src="~/img/Coveys-4-Quads.jpg" width="600" class="img-fluid"/>
        </div>
        <div class="col-2"></div>
        
    </div>
    
</div>